//TODO: remove unneccessary colors;
$blue300: #56bdff;
$blue400: #1dadff;
$blue500: #009eff;
$blue600: #008fff;
$blue700: #007aff;
$blue800: #1269ec;
$blue900: #1f47cd;
$yellow300: #fdf26f;
$yellow400: #faed4c;
$yellow500: #f7e823;
$yellow600: #ffdf2a;
$yellow700: #ffc721;
$yellow800: #ffae17;
$yellow900: #ff8400;
$white: #ffffff;
$gray100: #f2f2f7;
$gray200: #e5e5ea;
$gray400: #818182;
$gray500: #2c2c2e;
$red100: #ffe5d6;
$red500: #dd0000;
