@import 'styles/media';

.pickerWrapper {
  position: relative;

  .picker {
    position: absolute;
    bottom: 100%;
    right: 0;
  }

  .pickerButton {
    svg {
      height: 20px;
    }
  }

  @media (max-width: $mobile) {
    .picker {
      position: fixed;
      bottom: 52px;
      left: 50%;
      transform: translateX(-50%);
      right: auto;
    }
  }
}
