@import 'styles/colors';

.messageWrapper {
  display: flex;
  width: fit-content;

  .message {
    position: relative;
    padding: 4px 60px 15px 8px;
    max-width: 263px;
    color: inherit;
  }

  .date {
    position: absolute;
    color: inherit;
    font-size: 14px;
    bottom: 4px;
    right: 4px;
  }

  .anchor {
    width: 9px;
    height: 0;
    border-top: 9px solid;
  }

  &.primary {
    color: $white;

    .message {
      background-color: $blue700;
    }

    .anchor {
      border-color: $blue700;
    }
  }

  &.secondary {
    color: $gray500;

    .message {
      background-color: $gray100;
    }

    .anchor {
      border-color: $gray100;
    }
  }

  &.anchorRight {
    flex-direction: row-reverse;

    .message {
      border-radius: 6px 0 6px 6px;
    }

    .anchor {
      border-right: 11px solid transparent;
      border-radius: 0 2px 0 0;
    }
  }

  &.anchorLeft {
    flex-direction: row;

    .message {
      border-radius: 0 6px 6px 6px;
    }

    .anchor {
      border-left: 11px solid transparent;
      border-radius: 2px 0 0 0;
    }
  }
}
